{% extends "base.html" %}

{% load i18n %}
{% load account socialaccount %}
{% load crispy_forms_tags %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}
  <div class="container mt-5 col-sm-5">
    <div class="card mb-4">
      <div class="card-body">
        <h2>Sign in:</h2>
        <p>Contact your program administrator to recive an account</p>
        <hr />
        <form class="login" method="POST" action="{% url 'account_login' %}">
        {% csrf_token %}
        {{ form | crispy }}
        {% if redirect_field_value %}
        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
        {% endif %}
        <button class="primaryAction btn btn-success" type="submit">{% trans "Sign In" %}</button>
        </form>
      </div>
    </div>
  </div>
{% endblock %}