/* CSS rule gotten from https://codepen.io/NaokiIshimura/pen/aEvQPY */
.table-row{
    cursor:pointer;
    }

/* CSS for sortable tables */
/* inspired by https://github.com/tofsjonas/sortable */

.sortable th:hover {
    color: #fff;
  }
  
  .sortable th {
    color: #949da0;
    cursor: pointer;
    text-align: left;
    vertical-align: baseline;
    white-space: nowrap;
  }
  
  .content-row:hover {
    background-color: #b4c889;
  }
  
  .sortable th:hover::after {
    color: inherit;
    font-size: 1.2em;
    content: ' \025B8';
  }
  
  .sortable th::after {
    font-size: 1.2em;
    color: transparent;
    content: ' \025B8';
  }
  
  .sortable th.dir-d {
    color: #fff;
  }
  
  .sortable th.dir-d::after {
    color: inherit;
    content: ' \025BE';
  }
  
  .sortable th.dir-u {
    color: #fff;
  }
  
  .sortable th.dir-u::after {
    color: inherit;
    content: ' \025B4';
  }

/* Custom color to Bootstrap pagination for tables */

.pagination > li > a {
    background-color: white;
    color: #292b2c;
}

.pagination > li > a:focus,
.pagination > li > a:hover,
.pagination > li > span:focus,
.pagination > li > span:hover {
    color: #292b2c;
    background-color: #eee;
    border-color: #ddd;
}

.pagination > .active > a {
    color: white;
    background-color: #292b2c !Important;
    background-color: #292b2c !Important;
    border: solid 1px #292b2c !Important;
}

.pagination > .active > a:hover {
    background-color: #292b2c !Important;
    border: solid 1px #292b2c;
}