{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>MDash</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="MVP tool to be used by mentors in their interatction with students ">
    <meta name="keywords" content="mentor, student, crm, tool, session">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'apple-touch-icon.png' %">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon-16x16.png' %}">
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'favicon.ico' %}">
  </head>
  <body class="d-flex flex-column min-vh-100">
    {% block body %}
    <!-- Navbar-top -->
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
      <!-- Navbar logo-text -->
      <a class="navbar-brand" href="{% url 'home' %}">MDash</a>

      <!-- Main menu -->
      <ul class="navbar-nav mr-auto">
        {% if user.is_authenticated %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'mentorcards' %}">Students</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="{% url 'student-sessions' %}" id="navbardrop" data-toggle="dropdown">Student Sessions</a>
          <div class="dropdown-menu">
              <a class="dropdown-item" href="{% url 'student-sessions' %}">My Sessions</a>
              <a class="dropdown-item" href="{% url 'sessionsubmit' %}">Create Session</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'createnote' %}">Quick note</a>
        </li>
        <li class="nav-item">
          {% else %}
          <a class="nav-link" href="{% url 'account_login' %}">Sign In</a>
          {% endif %}
        </li>
      </ul>
      <!-- Student search form Inspired by: https://www.w3schools.com/bootstrap4/bootstrap_navbar.asp -->
      {% if user.is_authenticated %}
      <form class="form-inline mr-4" method="POST" action="{% url 'search_students' %}">
        {% csrf_token %}
        <input class="form-control mr-sm-2" type="search" 
        placeholder="Search student" aria-label="Search Student"
        name="searched">
        <button class="btn btn-secondary" type="submit">Go</button>
      </form>
      <!-- Edit profile and logout dropdown Inspired by: https://www.w3schools.com/bootstrap4/bootstrap_navbar.asp -->
      <div class="dropdown" id="account-dropdown-btn">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{request.user}}</button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" href="{% url 'time-report' %}">Time Report</a>
        <div class="dropdown-divider"></div>
          <a class="dropdown-item" data-target="#logoutModal" data-toggle="modal" href="#logoutModal">Logout</a>
        </div>
      </div>
      {% endif %}
    </nav>
    <!-- Logout Modal code inspired from: https://www.w3schools.com/bootstrap4/bootstrap_modal.asp -->
    <div class="modal fade" id="logoutModal">
      <div class="modal-dialog">
        <div class="modal-content">
          <!-- Logout Modal Header -->
          <div class="modal-header">
            <h4 class="modal-title">Sign Out - {{request.user}}</h4>
          </div>
          <!-- Logout Modal body -->
          <div class="modal-body">
            Are you sure you want to sign out?
          </div>
          <!-- Logout Modal footer -->
          <div class="modal-footer">
            <form method="post" action="{% url 'account_logout' %}">
              {% csrf_token %}
              {% if redirect_field_value %}
              <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
              {% endif %}
              <button type="submit" class="btn btn-success">Sign Out</button>
            </form>
            <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
          </div>
        </div>
      </div>
    </div>
    {% endblock %}
    {% block content %}


    {% endblock %}
    <!-- Footer -->
    <footer class="bg-dark mt-auto">
      <div class="container py-5">
        <div class="row justify-content-center py-3">
          <div class="col-lg-2 col-md-6 mb-4 mb-lg-0">
            <h6 class="text-muted font-weight-bold mb-2">MDash</h6>
          </div>
          <div class="col-lg-2 col-md-6 mb-lg-0">
            <h6 class="text-muted font-weight-bold mb-2">Location</h6>
            <p class="text-muted">
              MDash<br>
              Ringleksvagen 26<br>
              132 51 Saltsjo-Boo<br>
              Sweden
            </p>
          </div>
          <div class="col-lg-2 col-md-6 mb-lg-0">
            <h6 class="text-muted font-weight-bold mb-2">Contact</h6>
            <p class="text-muted">
              <i class="fa-solid fa-phone"></i>: +46 73 501 7993<br>
              <i class="fa-solid fa-at"></i>: mats(a)sweora.se<br>
            </p>
          </div>
          <div class="col-lg-3 col-md-6 mb-lg-0">
            <h6 class="text-muted font-weight-bold mb-2">Follow us!</h6>
            <p class="text-muted mb-4">Interested in more solutions from us? Please follow us on social media!</p>
            <ul class="list-inline mt-4">
              <li class="list-inline-item"><a href="https://twitter.com" target="_blank" title="twitter"><i class="fa-brands fa-2x fa-square-twitter text-muted"></i></a></li>
              <li class="list-inline-item"><a href="https://facebook.com" target="_blank" title="facebook"><i class="fa-brands fa-2x fa-square-facebook text-muted"></i></a></li>
              <li class="list-inline-item"><a href="https://instagram.com" target="_blank" title="instagram"><i class="fa-brands fa-2x fa-square-instagram text-muted"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
    </footer>
    <!-- Scripts -->
    <!-- JQuery -->
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.slim.min.js"></script>
    <!-- Bootstrap JS bundle -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>
    <!-- custom js -->
    <script src="{% static 'js/script.js' %}"></script>
    <!-- Sortable js -->
    <script src="{% static 'js/sortable.js' %}"></script>
    <!-- Font Awesome -->
    <script src="https://kit.fontawesome.com/efe7b2b66e.js" crossorigin="anonymous"></script>
  </body>
</html>