<!DOCTYPE html>
<html>
  <head>
    <title>MDash</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
  </head>
  <body>
    {% block body %}
    <!-- Navbar-top -->
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
      <!-- Navbar logo-text -->
      <a class="navbar-brand" href="{% url 'home' %}">MDash</a>

      <!-- Main menu -->
      <ul class="navbar-nav mr-auto">
        {% if user.is_authenticated %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'mentorcards' %}">Students</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="{% url 'student-sessions' %}" id="navbardrop" data-toggle="dropdown">Student Sessions</a>
          <div class="dropdown-menu">
              <a class="dropdown-item" href="{% url 'student-sessions' %}">My Sessions</a>
              <a class="dropdown-item" href="{% url 'sessionsubmit' %}">Create Session</a>
          </div>
        </li>
        <li class="nav-item">
          {% else %}
          <a class="nav-link" href="{% url 'account_login' %}">Sign In</a>
          {% endif %}
        </li>
      </ul>
      <!-- Student search form Inspired by: https://www.w3schools.com/bootstrap4/bootstrap_navbar.asp -->
      {% if user.is_authenticated %}
      <form class="form-inline mr-4" action="{% url 'mentorcards' %}">
        <input class="form-control mr-sm-2" type="text" placeholder="Search student">
        <button class="btn btn-secondary" type="submit">Go</button>
      </form>
      <!-- Edit profile and logout dropdown Inspired by: https://www.w3schools.com/bootstrap4/bootstrap_navbar.asp -->
      <div class="dropdown" id="account-dropdown-btn">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{request.user}}</button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" href="#">Edit Profile</a>
        <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="{% url 'account_logout' %}">Logout</a>
        </div>
      </div>
      {% endif %}
    </nav>
    {% block content %}
    {% endblock %}
    {% endblock %}
    
    <!-- Scripts -->
    <!-- JQuery -->
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.slim.min.js"></script>
    <!-- Bootstrap JS bundle -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>
  </body>
</html>