{% extends "base.html" %}
{% block content %}
{% load crispy_forms_tags %}
{% if user.is_authenticated %}
<div class="container col-6 mt-5">
  <h2>{{ studentsession.StudentMentorCard }} - {{ studentsession.session_date }}</h2>
  <button id="back-button" class="back-button float-left"><i class="fa-solid fa-circle-chevron-left"></i></button>
  <a href="#" data-toggle="modal" class="float-right text-dark" data-target="#helpModal"> <i class="fa-solid fa-circle-question"></i></a>
</div>
<div class="container mb-1 col-6">
  <div class="card">
    <div class="card-header bg-dark">
      <ul class="nav nav-tabs card-header-tabs" id="session-detail-list" role="tablist">
        <li class="nav-item">
          <a class="nav-link active" href="#delete-session" role="tab" aria-controls="Session details" aria-selected="true">Delete Session</a>
        </li>
      </ul> 
    </div>
    <div class="card-body">
      <div class="tab-content mt-3">
        <div class="tab-pane active" id="delete-session" role="tabpanel">
          <h3>Are you sure you want to delete </strong>: {{ studentsession.StudentMentorCard }} - {{ studentsession.session_date }}</h3>
          <p class="card-text"><strong>This is a permanent action! The session cannot be restored after deletion!</strong></p>
          <form method="POST">
            {{ form | crispy }}
            {% csrf_token %}
            <input class="btn btn-danger" type="submit" value="Confirm">
            <a href="{{ studentsession.get_absolute_url }}" class="btn btn-secondary float-left mr-2">Cancel</a>
          </form>
        </div>   
      </div>
    </div>
  </div>
</div>
<!-- Information Modal with user instructions  -->
<div class="modal fade" id="helpModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- Help Modal Header -->
            <div class="modal-header">
            <h4 class="modal-title"><i class="fa-solid fa-circle-question"></i> Delete session</h4>
            </div>
            <!-- Help Modal body -->
            <div class="modal-body">
                Press "Confirm" to delete the session. Remember that this is a 
                permanent action and that your session can't be restored. If you don't want to delete your session just 
                press "Cancel".
            </div>
            <!-- Help Modal footer --> 
            <div class="modal-footer">
                <button type="button" class="btn btn-success" data-dismiss="modal">Got it!</button>
            </div>
        </div>
    </div>
</div>
{% endif %}
{% endblock content %}