{% extends "base.html" %}

{% block content %}
  <h1>List of mentors student cards</h1>
  {% if studentmentorcard_list %}
  <ul>
    {% for studentmentorcard in studentmentorcard_list %}
    {% if request.user == studentmentorcard.mentor %}
      <br>
      <li>
        Name: <a href="{{ studentmentorcard.get_absolute_url }}">{{ studentmentorcard.student }}</a> 
      </li>
      <br>
    {% endif %}
    {% endfor %}
  </ul>
  {% else %}
    <p>There are no paird students with mentors</p>
  {% endif %}
  {% endblock content %}