{% extends "base.html" %}

{% block content %}

<h2>{{ studentsession.StudentMentorCard }}</h2>

<ul>
 <li><strong>Date of session:</strong> {{ studentsession.session_date }}</li>
 <li><strong>Duration of session:</strong> {{ studentsession.time_spent }} Minutes</li>
 <li><strong>Type of session:</strong> {{ studentsession.get_type_display }}</li>
 <li><strong>Subject of session:</strong> {{ studentsession.get_subject_display }}</li>
 <li><strong>Session notes:</strong>
    <ul>
        <li><p>{{ studentsession.summary }}</p></li>
    </ul>
</li>
<li><a href="{% url 'sessionedit' studentsession.pk %}">Edit Session</a></li>
<li><a href="{% url 'delete-session' studentsession.pk %}">Delete Session</a></li>
</ul>

{% endblock content %}