{% extends "base.html" %}

{% block content %}
  <div class="container mt-5 col-sm-7">
    <h1>{{request.user}}'s sessions</h1> 
  </div>
  <div class="container col-sm-7">   
    <div class="card mb-4">
      <div class="card-body">
        <div class="container">
          <a href="#" data-toggle="modal" class="float-right text-dark" data-target="#helpModal"> <i class="fa-solid fa-circle-question"></i></a>
          <a href="{% url 'sessionsubmit' %}" class="float-right mr-2 text-dark"><i class="fa-solid fa-circle-plus"></i></a>         
          <table class="table sortable">
            <thead class="bg-dark">
              <tr>
                <th>Student</th>
                <th>Date of Session</th>
                <th>Project</th>
                <th>Subject</th>
              </tr>
            </thead>
            <tbody>
              {% for studentsession in studentsession_list %}
              {% if request.user == studentsession.mentor %}
              <tr class='table-row content-row' data-href="{{ studentsession.get_absolute_url }}">
                <td>{{ studentsession }}</td>
                <td>{{ studentsession.session_date }}</td>
                <td>{{ studentsession.get_type_display }}</td>
                <td>{{ studentsession.get_subject_display }}</td>
              </tr>
              {% endif %}
              {% endfor %}
            </tbody>
          </table>
          <!-- Pagination inspired by https://simpleisbetterthancomplex.com/tutorial/2016/08/03/how-to-paginate-with-django.html -->
          {% if is_paginated %}
          <ul class="pagination justify-content-center">
            {% if page_obj.has_previous %}
            <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">&laquo;</a></li>
            {% else %}
            <li class="disabled page-item"><a class="page-link" href="#">&laquo;</a></li>
            {% endif %}
            {% for i in paginator.page_range %}
            {% if page_obj.number == i %}
            <li class="active page-item"><a class="page-link" href="#">{{ i }} <span class="sr-only page-link">(current)</span></a></li>
            {% else %}
            <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
            {% endif %}
            {% endfor %}
            {% if page_obj.has_next %}
            <li class="page-item"><a  class="page-link" href="?page={{ page_obj.next_page_number }}">&raquo;</a></li>
            {% else %}
            <li class="disabled page-item"><a class="page-link" href="#">&raquo;</a></li>
            {% endif %}
          </ul>
          {% endif %}
        </div>
        <p><a href="{% url 'sessionsubmit' %}" class="btn btn-secondary btn-block">Add new session</a></p>
      </div>
    </div>
  </div>
  <!-- Information Modal with user instructions -->
  <div class="modal fade" id="helpModal">
    <div class="modal-dialog">
      <div class="modal-content">
        <!-- Help Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title"><i class="fa-solid fa-circle-question"></i> Student Sessions</h4>
        </div>
        <!-- Logout Modal body -->
        <div class="modal-body">
          Here is a list of your previous sessions you have created. You can sort the list based on the headings in the table. Click on a session to see details or edit the session.
        </div>
        <!-- Logout Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-success" data-dismiss="modal">Got it!</button>
        </div>
      </div>
    </div>
  </div>
  {% endblock content %}