{% extends "base.html" %}
{% block content %}
{% load crispy_forms_tags %}
<div class="container col-6 mt-5">
    <h2>Create a session</h2>
    <button id="back-button" class="back-button float-left"><i class="fa-solid fa-circle-chevron-left"></i></button>
    <a href="#" data-toggle="modal" class="float-right text-dark" data-target="#helpModal"> <i class="fa-solid fa-circle-question"></i></a>
</div>
<div class="container mb-5 col-6">
    {% if user.is_authenticated %}
    <div class="card">
        <div class="card-body">
            <form method="POST" enctype="multipart/form-data">
                {{ form | crispy }}
                {% csrf_token %}
                <button type="submit" class="btn btn-secondary">Submit</button>
            </form>
        </div>
    </div>
    {% endif %}
</div>
<!-- Information Modal with user instructions -->
<div class="modal fade" id="helpModal">
    <div class="modal-dialog">
      <div class="modal-content">
        <!-- Help Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title"><i class="fa-solid fa-circle-question"></i> Create Session</h4>
        </div>
        <!-- Help Modal body -->
        <div class="modal-body">
          This is where you create a session. Choose the student in question and fill out the details. The session will be visible under "My Sessions" when it's created.
        </div>
        <!-- Help Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-success" data-dismiss="modal">Got it!</button>
        </div>
      </div>
    </div>
</div> 
{% endblock content %}